/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 200px;
    height: 200px;
    margin: 15px;
    border-radius: 50%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.slide {
    display: none; /* Hide all slides initially */
}

.slide.active {
    display: flex; /* Show active slide */
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 500px;
    background-color: #f1f1f1;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

p, h1, h2 {
    text-align: center;
    margin: 15px;
}

.icons {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 20px;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}
